<!-- Desktop Navbar -->
<div class="navbar navbar-expand-lg navbar-light navbar-lewagon d-none d-lg-flex">
  <div class="container-fluid d-flex align-items-center justify-content-between flex-nowrap">
    <!-- Logo Section -->
    <%= link_to image_tag("logofull.jpg", style: "width: 80px;"), root_path, class: "navbar-brand d-flex align-items-center" %>

    <!-- Navbar Items -->
    <ul class="navbar-nav me-auto d-flex align-items-center flex-nowrap">
      <% if user_signed_in? %>
        <!-- Friends  -->
        <li class="nav-item">
          <%= link_to "#", class: "nav-link d-flex align-items-center" do %>
            <i class="fas fa-user-friends me-2"></i> Friends
          <% end %>
        </li>
        <!-- Messages  -->
        <li class="nav-item">
          <%= link_to "#", class: "nav-link d-flex align-items-center" do %>
            <i class="fas fa-envelope me-2"></i> Messages
          <% end %>
        </li>
        <!-- Achievements -->
        <li class="nav-item">
          <%= link_to "#", class: "nav-link d-flex align-items-center" do %>
            <i class="fas fa-trophy me-2"></i> Achievements
          <% end %>
        </li>
        <!-- Resources -->
        <li class="nav-item">
          <%= link_to "#", class: "nav-link d-flex align-items-center" do %>
            <i class="fas fa-book me-2"></i> Resources
          <% end %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>

    <!-- Profile Dropdown -->
    <ul class="navbar-nav ms-auto d-flex align-items-center">
      <li class="nav-item dropdown">
        <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= image_tag "profile.png", class: "avatar", alt: "dropdown menu", style: "max-height: 30px;" %>
        </a>
        <div class="dropdown-menu dropdown-menu-end dropdown-up" aria-labelledby="navbarDropdown">
          <%= link_to "Settings", "#", class: "dropdown-item" %>
          <%= link_to "Another action", "#", class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</div>

<!-- Mobile Navbar -->
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon d-lg-none">
  <div class="container-fluid d-flex align-items-center justify-content-between flex-nowrap">
    <!-- Collapsible Mobile Navbar Items -->
    <ul class="navbar-nav me-auto d-flex align-items-center justify-content-around w-100">
      <% if user_signed_in? %>
        <!-- Friends -->
        <li class="nav-item text-center">
          <%= link_to "#", class: "nav-link d-flex align-items-center" do %>
            <i class="fas fa-user-friends me-2"></i> <!--friends-->
          <% end %>
        </li>
        <!-- Messages  -->
        <li class="nav-item text-center">
          <%= link_to "#", class: "nav-link d-flex align-items-center" do %>
            <i class="fa-solid fa-message"></i> <!--Messages-->
          <% end %>
        </li>
        <!-- Achievements  -->
        <li class="nav-item text-center">
          <%= link_to "#", class: "nav-link d-flex align-items-center" do %>
            <i class="fas fa-trophy me-2"></i> <!--Achievements-->
          <% end %>
        </li>
        <!-- Resources -->
        <li class="nav-item text-center">
          <%= link_to "#", class: "nav-link d-flex align-items-center" do %>
            <i class="fa-solid fa-heart-circle-check"></i> <!--Resources-->
          <% end %>
        </li>
      <% else %>
        <li class="nav-item text-center">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>

    <!-- Profile Dropdown -->
    <ul class="navbar-nav ms-auto d-flex align-items-center">
      <li class="nav-item dropup">
        <a href="#" class="avatar" id="navbarDropdownMobile" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= image_tag "profile.png", class: "avatar", alt: "dropdown menu", style: "max-height: 30px;" %>
        </a>
        <div class="dropdown-menu dropdown-menu-end dropup-menu" aria-labelledby="navbarDropdownMobile">
          <%= link_to "Home", root_path, class: "dropdown-item" %>
          <%= link_to "Settings", "#", class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
        </div>
      </li>
    </ul>

  </div>
</div>
